isort==5.13.2
black==24.4.2
debugpy==1.8.2
epdb
pyyaml
requests
fastapi
fastapi-users[beanie]
google-cloud-bigquery
uvicorn[standard]
httpx_oauth==0.15.1
minio
pydantic-settings
google-cloud-logging
pyproj
wget
shapely
pyproj
pandas
motor